@charset "UTF-8";
@font-face {
  font-family: 'Pixellari';
  src: url('./assets/fonts/Pixellari.ttf') format('truetype');
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #c3c3c3;
}

canvas {
  display: block;
}

* {
  font-family: 'Pixellari', sans-serif;
}
