@charset "UTF-8";
@font-face {
  font-family: 'Pixellari';
  src: url('../assets/Pixellari.ttf') format('truetype');
}
* {
  font-family: 'Pixellari', sans-serif;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
